h2 {
    text-align: center;
    margin: 50px 0;
}

.images {
    padding: 0 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.images img {
    height: 400px;
    margin-bottom: 20px;
}